@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --snowwhite: #e5eff5;
    --ltgrey: #d6d6d6;
    --cyan: #2ab2af;
    --ltcyan: #4abebd;
    --yellow: #c0df34;
    --greyblue: #98a6bd;
    --ltgreyblue: #a9b7d1;
    --paddingx: 1.8rem;
    --paddingy: 1.5rem;
}

#home-body {
    padding: 0;
    margin: 0;    
    width: 100%;
    font-family: 'Karla', sans serif;
    font-weight: 400;
    background-color: var(--ltgrey);
}
    h2, h3 {
        margin-top: 0;
    }
    h2 {
        font-size: 1.25rem;
        font-weight: 700;
    }
    h3 {
        font-size: 1rem;
        font-weight: 400;
    }
    p {
        font-size: 0.85rem;
        line-height: 1.75;
    }

.home-container {
    display: grid;
    width: 50%;
    margin: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "community community"
                         "month whyUs";
}
    .home-container section {
        padding: var(--paddingx) var(--paddingy);
        overflow: hidden;
    }
    .community {
        background-color:white;
        grid-area: community;
    }
        .community h2 {
            color: var(--cyan);
            font-size: 1.6rem;
        }
        .community time {
            color: var(--yellow);
            font-weight: 700;
        }
        .community h3 {
            color: var(--yellow);
            font-weight: 700;
        }
        .community p {
            color: var(--greyblue);
        }

    .month {
        background-color: var(--cyan);
        grid-area: month;
    }
        .month h2 {
            color: white;
        }
        .dollar-month {
            color:var(--ltgreyblue);
        }
        .full-access {
            color: var(--snowwhite);
        }
        .month span {
            color: white;
            font-weight: 700;
            font-size: 1.6rem;
        }
        .month button {
            background-color: var(--yellow);
            color: white;
            border-radius: 0.3rem;
            border-color: var(--yellow);
            height: 50px;
            width: 290px;
            font-size: 16px;
            font-weight: 400;
            transition: ease-out 0.1s;
            margin-right: 0.7rem;
        }
        .month button:hover {
            box-shadow: inset 300px 0 0 0 #008080;
            border-color:#008080;
            border-radius: 0.3rem;
        }

    .whyUs {
        background-color: var(--ltcyan);
        grid-area: whyUs;
    }
        .whyUs h2 {
            color: white;
        }
        .whyUs li {
            color: var(--snowwhite);
            list-style-type: none;
            font-size: 0.9rem;
        }

@media (max-width: 900px) {
    .home-container {
        width: 90%;
        margin: auto;
        padding: 1.8rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-areas: "community" "month" "whyUs";
        grid-gap: 1rem;
    }
        .home-container section {
            box-shadow: 0.1rem 0.1rem 0.1rem grey;
        }
        .community {
            border-radius: 0.3rem;
            grid-area: community;
            margin-top: 1rem;
        }
        .month {
            border-radius: 0.3rem;
            grid-area: month;
        }
        .whyUs {
            border-radius: 0.3rem;
            grid-area: whyUs;
        }
}
