@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --snowwhite: #e5eff5;
    --ltgrey: #d6d6d6;
    --cyan: #2ab2af;
    --ltcyan: #4abebd;
    --yellow: #c0df34;
    --greyblue: #98a6bd;
    --ltgreyblue: #a9b7d1;
    --paddingx: 2.5rem;
    --paddingy: 2.3rem;    
    --top-left-rounded-edge: 0.3rem 0 0 0;
    --top-right-rounded-edge: 0 0.3rem 0 0;
    --top-rounded-edge: 0.3rem 0.3rem 0 0;
    --btm-right-rounded-edge: 0 0 0.3rem 0;
    --btm-left-rounded-edge:  0 0 0 0.3rem;
}

#home-body {
    padding: 0;
    margin: 0;    
    width: 100%;
    font-family: 'Karla', sans serif;
    font-weight: 400;
    background-color: var(--ltgrey);
}
    h2, h3 {
        margin-top: 0;
    }
    h2 {
        font-size: 1.25rem;
        font-weight: 700;
    }
    h3 {
        font-size: 1rem;
        font-weight: 400;
    }
    p {
        font-size: 0.85rem;
        line-height: 1.75;
    }

.home-card {
    display: grid;
    width: 50%;
    margin: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "community community"
                         "month whyUs";
}
    .home-card section {
        padding: var(--paddingx) var(--paddingy);
        overflow: hidden;
    }
    .top-card {
        background-color: white;
        grid-area: community;
        border-radius: var(--top-rounded-edge);
    }
        .top-card h2 {
            color: var(--cyan);
            font-size: 1.6rem;
        }
        .top-card time {
            color: var(--yellow);
            font-weight: 700;
        }
        .top-card h3 {
            color: var(--yellow);
            font-weight: 700;
        }
        .top-card p {
            color: var(--greyblue);
        }

    .middle-card {
        background-color: var(--cyan);
        grid-area: month;
        border-radius: var(--btm-left-rounded-edge);
    }
        .middle-card h2 {
            color: white;
        }
        .dollar-month {
            color: var(--ltgreyblue);
        }
        .full-access {
            color: var(--snowwhite);
        }
        .middle-card span {
            color: white;
            font-weight: 700;
            font-size: 1.6rem;
        }
        .middle-card button {
            background-color: var(--yellow);
            color: white;
            margin: 1.25rem 0 0 0.6rem;
            border-radius: 0.35rem;
            border-color: var(--yellow);
            height: 2.8rem;
            width: 15rem;
            font-weight: 400;
            transition: ease-out 0.2s;
        }
        .middle-card button:hover {
            box-shadow: inset 300px 0 0 0 #008080;
            border-color:#008080;
            border-radius: 0.35rem;
        }

    .btm-card {
        background-color: var(--ltcyan);
        grid-area: whyUs;
        border-radius: var(--btm-right-rounded-edge);
    }
        .btm-card h2 {
            color: white;
        }
        .btm-card li {
            color: var(--snowwhite);
            list-style-type: none;
            font-size: 0.9rem;
        }

@media (max-width: 900px) {
    .home-card {
        width: 90%;
        margin: auto;
        padding: 1.8rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-areas: "community" "month" "whyUs";
        grid-gap: 1rem;
    }
        .home-card section {
            box-shadow: 0.1rem 0.1rem 0.1rem grey;
            border-radius: 0.3rem;
        }
        .top-card {
            grid-area: community;
            margin-top: 1rem;
        }
        .middle-card {
            grid-area: month;
        }
        .btm-card {
            grid-area: whyUs;
        }
}
